@{
    ViewBag.Title = "Подтверждение сброса";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded" style="margin-top:80px; background-color: #ffffff">
        <h2 class="featurette-heading">
            <span style="color:#9BB67C">Сброс пароля</span>
        </h2>
        <p class="lead">
            Пожалуйста, проверьте почтовый ящик для сброса пароля. Если вы не обнаружили письма, проверьте папку "Спам". В случае возникновения проблем, свяжитесь с поддержкой weightdecreaseline@gmail.com
        </p>
    </div>
</div>