@{
    ViewBag.Title = "Восстановление пароля";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded" style="margin-top:80px; background-color: #ffffff">
        <h2 class="featurette-heading">
            <span style="color:#9BB67C">Восстановление пароля</span>
        </h2>
        <p class="lead">
            Введите Email, который вы использовали для регистрации на сайте.
            Ссылка на восстановление пароля придет на указанную электронную почту.
        </p>
        <form method="post" action="">
            <div class="row">
                <div class="col-md-6 order-md-1">
                    <div>
                        <input type="email" class="form-control" id="email" name="email" value="" placeholder="example@gmail.com" required="" />
                    </div>
                    <br/>
                    <button id="loginbtn" class="btn btn-secondary btn-lg btn-block" type="submit" style="color:#ffffff; background-color:#CB9447; border-color:transparent;">Сбросить</button>
                </div>
            </div>
        </form>
    </div>
</div>