@{
    ViewBag.Title = "Аккаунт заблокирован";
}


<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded lead" style="margin-top:80px; background-color: #ffffff">
            <h2 class="featurette-heading">
                Сообщение
            </h2>
            <p>
                Этот аккаунт был заблокирован. Пожалуйста, повторите позже.
            </p>
    </div>
</div>