@{
    ViewBag.Title = "Пароль изменен";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded" style="margin-top:80px; background-color: #ffffff">
        <h2 class="featurette-heading">
            <span style="color:#9BB67C">Вы установили новый пароль</span>
        </h2>
        <p class="lead">
            Перейти в окно<a href="/Account/Login" rel="nofollow"> авторизации.</a>
        </p>
    </div>
</div>