@{
    ViewBag.Title = "Пользователь не найден";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded lead" style="margin-top:80px; background-color: #ffffff">
        <p>
            Пользователь не найден или аккаунт не был подтвержден по электронной почте.
            Пройдите (заново) процедуру регистрации: <a href="/Account/Register" rel="nofollow">Зарегистрироваться</a>
        </p>
        <p>В случае возникновения проблем, свяжитесь с поддержкой weightdecreaseline@gmail.com</p>
    </div>
</div>