@{
    ViewBag.Title = "Политика конфиденциальности";
}
@{
    ViewBag.Robots = "noindex, follow";
}


<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded text-justify lead" style="margin-top:80px; background-color: #ffffff">
        <h4>Политика конфиденциальности</h4>
        <p>Страница на этапе формирования</p>
    </div>
</div>

