@{
    ViewBag.Title = "Что такое процент жира";
}
@{
    ViewBag.Robots = "all";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded" style="margin-top:80px; background-color: #ffffff">
        <div class="text-justify lead">
            <h2 class="featurette-heading" style="color:#8B4513">Что такое процент жира и почему мы его считаем?</h2>
            <br />
            <p>
                На основании показателя процента жира в организме людей относят к одной из <b>6 категорий</b> по типу телосложения:
                <ul>
                    <li style="color: rgba(123,104,238,1)">Истощение</li>
                    <li style="color: rgba(30,144,255,1)">Атлетическое телосложение</li>
                    <li style="color: rgba(60,179,113,1)">Хорошая физическая форма</li>
                    <li style="color: rgba(255,215,0,1)">Средний уровень жира</li>
                    <li style="color:rgba(255,69,0,1)">Наличие лишнего веса</li>
                    <li style="color: rgba(255,0,0,1)">Ожирение</li>
                </ul>
            </p>
            <p>
                Жировая ткань является важной составляющей нашего организма. 
                Если количество жировой ткани находится в пределах нормы, то она способна поддерживать определенный баланс
                между процессами образования и расщепления жиров. Излишки жировой ткани образуется в результате генетических поломок,
                неблагоприятных факторов внешней среды, погрешностей в питании и малоподвижного образа жизни.
            </p>
            <p>
                Функциии жировых клеток:
                <ul>
                    <li>источник энергии</li>
                    <li>сохранение тепла</li>
                    <li>выработка необходимых биологических веществ</li>
                    <li>защита внутренних органов</li>
                </ul>
            </p>
            <p>
                У представительниц прекрасного пола процент жира в норме превышает данный показатель для мужчин.
                Это связано с анатомическими особенностями строения женской фигуры.
                Эволюционно так сложилось, что женщины с высоким содержанием жира имели больше шансов на выживание и
                заботу о потомстве.
            </p>
            <p>
                Сейчас это преимущество утратил свою актуальность. Однако, следует помнить, что женскому организму жир необходим для
                выработки гормонов. Поэтому мы крайне рекомендуем вам не снижать процент жира ниже предельной отметки.
                А в случае любых неожидаемых реакций со стороны организма, прекратить похудение.
            </p>
            <p>
                Существует <b>два типа жировой ткани</b> в организме:
                <ul>
                    <li>
                        подкожный (абдоминальный) жир - не опасен для здоровья, разве что портит фигуру и доставляет дискомфорт
                    </li>
                    <li>
                        висцеральный жир (окружает внутренние органы) - по-настоящему опасен и может привести к серьезным заболеваниям
                    </li>
                </ul>
            </p>
            <p>
                На <a class="stretched-link" href="/Analize/GetAnalize">странице составления плана</a> представлены <b>две формы ввода данных</b>.
                <ul>
                    <li>
                        Упрощенная форма (без показателей объемов тела) подойдет на людей,
                        которые не занимаются профессиональным спортом, то есть имеют стандартное
                        соотношение мышечной и жировой ткани в теле.
                        Упрощенная форма не определяет висцеральный жир.
                    </li>
                    <li>
                        Сложная форма (три доп. поля ввода для объемов шеи, талии и бедер) использует более сложный алгоритм подсчета,
                        который имеет погрешность 2-3%, что дает точный результат.
                        Это особенно актуально для спортсменов, чье тело может иметь большую массу, но небольшой процент жира.
                        Дополнительно, вы узнаете, не превышен ли уровень висцерального жира в организме.
                    </li>
                </ul>
            </p>
            <p>
                Мы знаем, что существует такое понятие, как комфортный вес. Это тот вес, в котором человек чувствует себя абсолютно "в соей тарелке".
                Его ничего не беспокоит как морально, так и физически, нравится внешний вид и абсолютно все устраивает. И для каждого человека он свой.
                Поэтому, мы придерживаемся недекларативной политики а лишь даем рекомендации и советы по достижению того веса, который вы сами себе
                выберете.
            </p>
            <p>
                Составляя шкалу распределения процента жира в организме, мы составили некую "линейку" (говоря математическим языком, ввели норму) -
                инструмент для измерения телосложения. Однако, сколько отмерить на этой линейке, личное дело каждого пользователя.
                <b>Желаем вам успехов в достижении своих целей!</b>
            </p>
        </div>
    </div>
</div>