@{
    ViewBag.Title = "Как ускорить метаболизм";
}
@{
    ViewBag.Robots = "all";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 rounded text-justify" style="margin-top:80px; background-color: #ffffff">
        <div class="row featurette">
            <div class="col-md-9 ">
                <h2 class="featurette-heading text-left" style="color:#8B4513 ">Шаг №1 - Откажитесь от <span style="color:#C5621B">жестких ограничений в еде</span></h2>
                <p class="lead">
                    Резкие ограничения представляют собой стресс для организма. Как реакция на стресс возрастает аппетит.
                    К тому же накладывается сбой обмена веществ (часто это нарушение выработки гормона поджелудочной,
                    то есть инсулина и гормонов щитовидной железы).
                    В результате человек набирает еще больший вес, чем исходный до похудения.
                    Для здорового похудения необходимым условием является сбалансированное питание и сокращение быстрых углеводов в рационе 
                    (подробнее об углеводах рассказываем ниже).
                </p>
            </div>
            <div class="col-md-3">
                <img src="~/img/nodiets.webp" style="max-width:400px" />
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-9 order-md-2">
                <h2 class="featurette-heading text-left" style="color:#1F8AAD">Шаг №2 - Пейте больше <span style="color:#40B6DD">воды</span></h2>
                <p class="lead">
                    Употребляйте в день достаточное количество жидкости.
                    Мужчинам необходимо употреблять 0,035 литров воды на 1 кг массы тела, а женщинам — 0,031 литра/кг.
                    Вода помогает удалить отходы из организма, регулирует процесс пищеварения и разносит полезные вещества.
                </p>
                <p class="lead">
                    Если вы испытываете голод, а возможности поесть нет, попейте воду, чтобы "обмануть" организм. Ведь, как известно,
                    в состоянии голода организм переходит в режим "энергосбережения" и замедляет метаболизм. Кроме того, потребление воды
                    поможет снизить аппетит, что обезопасит вас от переедания при следующем приеме пищи.
                </p>
            </div>
            <div class="col-md-3 order-md-1">
                <img src="~/img/water.webp" style="max-width:400px" />
            </div>
        </div>
        <div>
            <p class="lead">
                Полезным, но не обязательным является переход на употребление столовой минеральной воды.
                Она может быть газирована природным способом или искусственно.
                Для здорового человека полезно пить гидрокарбонатную минеральную воду с газом, которая является таковой от природы.
                Тем, кто страдает гастритом и другими заболеваниями ЖКТ, противопоказано употреблять напитки, насыщенные углекислым газом.
                Минеральная вода поможет укрепить иммунитет, восстановить кислотно-щелочной баланс, улучшить состояние кожи, ногтей и волос,
                улучшить состояние печени и почек, омолодить организм, улучшить мышление и память.
            </p>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-9">
                <h2 class="featurette-heading text-left" style="color:#62653E">Шаг №3 - Сократите потребление <span style="color:#878B55">быстрых углеводов</span></h2>
                <p class="lead">
                    Углеводы – основной источник энергии для организма человека и содержатся в основном
                    в продуктах растительного происхождения. В зависимости от структуры углеводы делятся на:
                    <ul class="lead">
                        <li>
                            быстрые углеводы - легко усваиваются организмом и имеют
                            высокий гликемический индекс (ГИ);
                        </li>
                        <li>
                            комплексные -  отдают свои калории постепенно,
                            обеспечивая долгое насыщение.
                        </li>
                    </ul>
                </p>
                <p class="lead">Все быстрые углеводы можно разделить на два типа:</p>
            </div>
            <div class="col-md-3">
                <img src="~/img/fish.webp" style="max-width:400px" />
            </div>
        </div>
        <div>
            <p class="lead">
                <ul class="lead">
                    <li>
                        C простой структурой, которые состоят из одной или двух молекул (фруктоза, глюкоза, лактоза) —
                        они отличаются сладким вкусом и хорошо растворимы в воде;
                    </li>
                    <li>
                        Cо сложной структурой молекул, но все еще относящиеся к быстрым углеводам.
                        В список входит белый рис, мука, крахмал. 
                    </li>
                </ul>
            </p>
            <p class="lead">
                Если злоупотреблять пищей в высоким ГИ долгое время, то появится постоянное чувство голода и, как следствие, будет расти вес.
                Механизм такой: организм привыкает к высокой выработке гормона инсулина (который выделяется поджелудочной железой в ответ на повышение сахара в крови)
                и его будет много, даже когда человек будет употреблять пищу
                с низким гликемическим индексом. Инсулин быстро переносит сахар из крови и сразу же опять появляется чувство голода.
                В результате человек начинает потреблять пищи больше, чем нужно, что приводит к увеличению веса (при неизменном уровне физической активности).
            </p>
            <p class="lead">
                Сложные углеводы обладают низким гликемическим индексом, не провоцируют высокой секреции инсулина.
                Сахар поступает в кровь постепенно, обеспечивает организм энергией дольше, чем простые углеводы.
                Таким образом, человек долго не испытывает чувства голода и не потребляет пищи больше, чем нужно.
            </p>
            <p class="lead">
                Список медленных углеводов расположим в порядке приема пищи (от завтрака к ужину).
                <ul class="lead">
                    <li>Крупы. Кашу утром можно есть любую, кроме манки и рисовой. Особенно полезны гречневая, овсяная и перловая.</li>
                    <li>Цельнозерновой хлеб. Желательно употреблять хлеб в первой половине дня.</li>
                    <li>
                        Макароны твердых сортов. Также лучше употреблять не позднее обеда. Для стремящихся похудеть - без дополнения какими-либо соусами.
                        Если на упаковке с макаронами написано, что они варятся больше 8 минут, значит они приготовлены из твердых сортов пшеницы.
                    </li>
                    <li>
                        Несладкие овощи и фрукты. Ими вполне можно перекусывать в течение всего дня без ущерба для фигуры
                        (капуста, кабачки, перец, помидоры, огурцы, грейпфруты, киви, зеленые яблоки, авокадо).
                    </li>
                    <li>
                        Бобовые. Содержат большое количество белка, поэтому их вполне можно использовать в качестве гарнира на ужин
                        (бобы, чечевица, фасоль, соя).
                    </li>
                </ul>
            </p>
            <p class="lead">Добавьте к правильным углеводам белки (мясо, рыба) и полезные жиры (оливковое, льняное, подсолнечное масла), и перед вами - сбалансированный рацион.</p>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-9 order-md-2">
                <h2 class="featurette-heading text-left" style="color:#A30021">Шаг №4 - Больше <span style="color:#E0002D">двигайтесь</span></h2>
                <p class="lead">
                    Чтобы снижение веса происходило за счет жира, а не мышц, необходимо потреблять достаточное
                    количество белка и заниматься физическими упражнениями.
                    Какой вид спорта стоит выбрать для потери веса?
                    Подойдет любой, но особенно полезны те, что развивают выносливость, а именно: бег, ходьба, езда на велосипеде.
                    Если погода позволяет, занимайтесь спортом на свежем воздухе, чтобы насытить организм кислородом.
                    Попробуйте кардиотренировки. Это прекрасный способ улучшить свое дыхание и сохранить здоровье сердечно-сосудистой системы.
                    Это основа любой тренировки для улучшения физического состояния, похудения и повышения тонуса своего организма.
                    Систематические занятия спортом обеспечивают здоровый сон, положительное влияние которого рассматривается далее.
                </p>
            </div>
            <div class="col-md-3 order-md-1">
                <img src="~/img/dogyoga.webp" style="max-width:400px" />
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading text-left" style="color:#114B5F">Шаг №5 - Старайтесь <span style="color:#1F8AAD">высыпаться</span></h2>
                <p class="lead">
                    Для нормального обмена веществ необходимо высыпаться. Организм, не отдохнувший за ночь, и не накопивший
                    нужное количество энергии для обеспечения жизнедеятельности и полноценного функционирования всех своих систем,
                    потребует большего количества пищи. Важно соблюдать режим дня, идти отдыхать в одно и то же время,
                    желательно в 10 ч. вечера. Люди-жаворонки, которые идут спать рано и просыпаются рано, худеют быстрее сов,
                    ведущих преимущественно ночной образ жизни.
                </p>
            </div>

            <div class="col-md-5">
                <img src="~/img/sleepwoman.webp" style="max-width:400px" />
            </div>
        </div>
        <div>
            <p class="lead">
                Когда вы мало спите, в крови изменяется концентрация целого ряда гормонов.
                <ul class="lead">
                    <li>
                        Во-первых, недосып может вызвать повышенную секрецию кортизола, который называют гормоном стресса.
                        Этот гормон необходим для правильной работы иммунной системы, регуляции энергетических запасов организма,
                        в том числе накопления и сжигания жиров. Он также отвечает за выработку половых гормонов эстрогена и тестостерона
                        и гормонов щитовидной железы.
                    </li>
                    <li>
                        Во-вторых, происходят изменения в уровне грелина и лептина — гормонов,
                        отвечающих, опять же, за голод и насыщение. У людей, страдающих бессонницей или не находящих времени на ночной отдых,
                        грелин выделяется в большем количестве, что приводит к желанию заесть дефицит сна.
                    </li>
                    <li>
                        И в конце концов снижается концентрация гормона роста.
                        При нормальном режиме он отлаженно расщепляет жиры и превращает их в энергию.
                        Однако если его уровень понижается, организм начинает накапливать лишний вес.
                    </li>
                </ul>
            </p>
            <p class="lead">
                Таким образом, уменьшение времени сна на два часа уже ведёт к потреблению 500 или
                более лишних калорий в целях восполнения недостатка.
            </p>
        </div>
    </div>
</div>