@{
    ViewBag.Title = "Здоровое снижение веса";
}
@{
    ViewBag.Robots = "all";
}

<div class="container">
    <div class="row mb-3" style="margin-top:80px">
        <div class="col-md-4">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="background-color: #ffffff">
                    <h3 class="mb-0" style="color:#8B4513">Калькулятор нормы</h3>
                    <p>Чтобы определить свою норму массы тела, исходя из показателя процента жира, воспользуйтесь нашим калькулятором.</p>
                    <a href="/Analize/Analize" class="stretched-link">Перейти...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/img/paper.webp" style="width:100%; max-height: 100%" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="background-color: #ffffff">
                    <h3 class="mb-0" style="color:#737448">План</h3>
                    <p>
                        Здесь вы сможете составить себе план для комфортного снижения веса, который,
                        не нарушая обменный баланс в организме, приведет вас к цели
                    </p>
                    <a href="/Interpolation/Interpolation" class="stretched-link">Перейти...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/img/charts.webp" style="width:100%; max-height: 100%" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="background-color: #ffffff">
                    <h3 class="mb-0" style="color:#1F8AAD">Метаболизм</h3>
                    <p>Из этой статьи вы узнаете, что играет ключевую роль в процессах обмена веществ в организме, и как эти процессы можно ускорить.</p>
                    <a href="/Home/Article" class="stretched-link">Читать дальше</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="~/img/yogawoman.webp" style="width:100%; max-height: 100%" />
                </div>
            </div>
        </div>
    </div>
</div>